:root {
  --bg: rgb(48, 48, 69);
  --bg-hover: rgb(177, 177, 216);
  --main-font: #FAFAFA;
  --red-purple: rgb(119, 64, 105);
  --purple: rgb(160, 86, 142);
  --dlight-purple: rgb(103, 54, 90);
  --dark-purple: rgb(33, 33, 48);
}

@font-face {
  font-family: Open-Sauce-Sans-Medium;
  src: url(./font/Open-Sauce-Sans/TTF/OpenSauceSans-Medium.ttf);
}

@font-face {
  font-family: Open-Sauce-Sans-Regular;
  src: url(./font/Open-Sauce-Sans/TTF/OpenSauceSans-Regular.ttf);
}

@font-face {
  font-family: Mosk-500;
  src: url(./font/Mosk_Typeface/Mosk\ Medium\ 500.ttf);
}

@font-face {
  font-family: Mosk-700;
  src: url(./font/Mosk_Typeface/Mosk\ Bold\ 700.ttf);
}

@font-face {
  font-family: Mosk-600;
  src: url(./font/Mosk_Typeface/Mosk\ Semi-Bold\ 600.ttf);
}

/* 초기화 */
* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--main-font);
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

/* style 시작 */
body {
  background-color: var(--bg);
  color: var(--main-font);
  font-family: 'Roboto', sans-serif;
  min-width: 580px;

  overflow: hidden;
  /* height: 100%; */
}

main {
  height: 100vh;
  overflow-y: scroll;
  /* scroll-snap-type: y proximity; */
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h2 {
  padding-top: 70px;
  font-size: 70px;
  font-family: 'Bebas Neue', cursive;
  text-decoration: underline;
  letter-spacing: 7px;
}

nav {
  position: fixed;
  /* width: 100vw; */
  width: 100%;
  top: 0;
  z-index: 100;
}

p {
  font-family: 'Do Hyeon', sans-serif;
}



.nav {
  background: linear-gradient(var(--dark-purple), transparent);
  padding: 0 100px;
}

.nav__container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template: 70px/ 2fr 2fr 2fr 2fr;
}

.nav__btn {
  margin: auto;
  font-size: 25px;
  font-weight: 500;
  height: 100%;
  font-family: 'Bebas Neue', cursive;
}

.nav__btn>a {
  display: inline-block;
  padding: 15px;
  padding-top: 18px;
  height: 100%;
  vertical-align: middle;
}

.nav__btn>a:hover {
  color: var(--bg-hover);
}


/* HOME */
#home {
  z-index: 3;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template: 100vh/ 1fr 1fr;
  grid-template-areas: "dev info";
  position: relative;
  /* scroll-snap-align: none; */
}


.dev {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dev__container {
  max-width: 700px;
  width: 100%;
  padding-top: 70px;
  padding-left: 20px;
  font-family: 'Bebas Neue', cursive;
  font-size: 160px;
  letter-spacing: -0.095em;
  grid-area: dev;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dev__letter:hover {
  color: var(--red-purple);
}

.info {
  width: 100%;
  background-color: var(--red-purple);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.info__container {
  position: relative;
  max-width: 700px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.info__inner {
  height: 100%;
  position: relative;
  margin: auto;
  position: relative;
  display: grid;

  grid-template-rows: 1fr 3fr 2fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: ".""photo""texts"".";
  padding-top: 70px;
  padding-right: 20px;
  padding-left: 20px;
  grid-area: info;
}

.info__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: photo;
}

.info__img-box>img {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #FAFAFA;
  transition: 200ms;
  margin-top: 3px;
}

.info__img-box>img:hover {
  transform: scale(1.1);
}

.info__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: texts;
}

.info__intro>h3 {
  line-height: 2;
  font-size: 33px;
  font-family: Mosk-700;
  letter-spacing: 0px;
  position: relative;
  transition: 200ms;
}

.info__intro>h3>.info__maria {
  position: relative;
}

.maria__name {
  display: inline-block;
  text-decoration: underline;
  transition: 200ms;
  animation: 0.8s scale-change linear infinite alternate;
}

@keyframes scale-change {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.info__intro>h3>.info__maria:hover {
  color: var(--bg);
}

.info__intro>h3>.info__maria:hover .maria__imges {
  display: block;
}

.maria__imges {
  display: none;
  position: absolute;
  top: -200px;
  left: 0px;
  transition: 200ms;
}

.maria__img {
  opacity: 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  transition: 200ms;
}

#maria_1 {
  animation: 3s 0ms infinite linear maria_left1;
}

#maria_2 {
  animation: 4s 20ms infinite linear maria_right1;
}

#maria_3 {
  animation: 3s 300ms infinite linear maria_left2;
}

#maria_4 {
  animation: 4s 320ms infinite linear maria_right2;
}

#maria_5 {
  animation: 3s 500ms infinite linear maria_left1;
}

#maria_6 {
  animation: 3s 600ms infinite linear maria_right1;
}

#maria_7 {
  animation: 3s 680ms infinite linear maria_left2;
}

#maria_8 {
  animation: 4s 750ms infinite linear maria_right2;
}

#maria_9 {
  animation: 5s 850ms infinite linear maria_left1;
}

#maria_10 {
  animation: 3s 1000ms infinite linear maria_right1;
}

#maria_11 {
  animation: 4s 1050ms infinite linear maria_left1;
}

#maria_12 {
  animation: 5s 1100ms infinite linear maria_left2;
}

#maria_13 {
  animation: 4s 1250ms infinite linear maria_right2;
}

#maria_14 {
  animation: 5s 1400ms infinite linear maria_left1;
}

#maria_15 {
  animation: 3s 1450ms infinite linear maria_right1;
}

#maria_16 {
  animation: 4s 1450ms infinite linear maria_left2;
}

#maria_17 {
  animation: 3s 1500ms infinite linear maria_right2;
}

#maria_18 {
  animation: 4s 1600ms infinite linear maria_left1;
}

#maria_18 {
  animation: 5s 1650ms infinite linear maria_right1;
}

#maria_19 {
  animation: 4s 1750ms infinite linear maria_left2;
}

@keyframes maria_left1 {
  0% {
    opacity: 1;
  }

  10% {
    transform: translate(-15vh, -5vh);
  }

  50% {
    opacity: 0.7;
  }

  100% {
    transform: translate(-35vw, 100vh);
    opacity: 0;
  }
}

@keyframes maria_left2 {
  0% {
    opacity: 1;
  }

  10% {
    transform: translate(-10vh, -10vh);
  }

  50% {
    opacity: 0.7;
  }

  100% {
    transform: translate(-25vw, 100vh);
    opacity: 0;
  }
}

@keyframes maria_right1 {
  0% {
    opacity: 1;
  }

  10% {
    transform: translate(15vh, -7vh);
  }

  50% {
    opacity: 0.7;
  }

  100% {
    transform: translate(15vw, 100vh);
    opacity: 0;
  }
}

@keyframes maria_right2 {
  0% {
    opacity: 1;
  }

  10% {
    transform: translate(12vh, -15vh);
  }

  50% {
    opacity: 0.7;
  }

  100% {
    transform: translate(28vw, 110vh);
    opacity: 0;
  }
}

.info__intro>p {
  display: block;
  padding: 0 25px;
  max-width: 700px;
  font-size: 24px;
  line-height: 1.7;
  text-align: center;
  font-family: Mosk-600;
}

.info__intro .info__imp-text {
  padding: 5px;
  border-radius: 4px;
  background-color: var(--bg);
  color: #FAFAFA;
}

.info__intro .info__imp-text:hover {
  background-color: #FAFAFA;
  color: var(--bg);

}

/* Skill */
#skills {
  background: var(--dark-purple);
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* scroll-snap-align: center; */
  position: relative;
}

.skills__background {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.line {
  width: 100%;
  height: 200%;
  background: linear-gradient(rgb(44, 44, 65), var(--dark-purple));
  animation: 2s bg-line1 linear infinite;
}

.line:nth-child(2n) {
  animation: 2s bg-line2 linear infinite;
}

@keyframes bg-line1 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(+100%);
  }
}

@keyframes bg-line2 {
  0% {
    transform: translateY(+100%);
  }

  100% {
    transform: translateY(-100%);
  }
}



.skills__container {
  z-index: 2;
  width: 100%;
}

.skills__title {
  margin: auto;
  max-width: 1400px;
  width: 100%;
  padding-left: 20px;
}

.skills__inner {
  margin: auto;
  padding: 40px;
  max-width: 1400px;
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill {
  margin: 10px;
  padding: 20px;
  background-color: var(--dlight-purple);
  width: 200px;
  max-height: 450px;
  display: flex;
  justify-content: center;
  transition: 300ms;
  position: relative;
  animation: up-down 1s linear infinite alternate;
  box-shadow: 0 0.5em 0.5em 0.2em rgb(255, 0, 247);
}

@keyframes up-down {
  0% {
    transform: translateY(-5%);
    box-shadow: 0 6px 1px 4px rgb(255, 0, 247);
  }

  100% {
    transform: translateY(15%);
    box-shadow: 0 32px 11px 2px rgb(255, 0, 247);
  }
}

.skill:hover,
.skill:focus {
  animation: none;
  box-shadow: 0 1em 1em 0.3em rgb(255, 0, 247);
  transform: translateY(-1em);
}

.skill:hover .skill__name,
.skill:focus .skill__name {
  opacity: 0;
}

.skill:hover .skill__icon,
.skill:focus .skill__icon {
  opacity: 1;
}

.skill__icon {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.skill__name {
  opacity: 1;
  font-size: 40px;
  margin: auto;
}

/* Project */
#project {
  padding: 20px;
  width: 100%;
  margin: auto;

  /* scroll-snap-align: none; */
}

.project__container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.project__title {
  padding-bottom: 20px;
  padding-left: 20px;
}

.project__inner {
  padding-bottom: 70px;
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr;
}

.post {
  display: flex;
  width: 100%;
  padding: 20px;
  position: relative;
}

.post__img-box {
  width: 100%;
  height: 100%;
  position: relative;
}

.post__img-box img {
  cursor: none;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post__img-box video {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.post__hover {
  position: absolute;
  background: rgba(48, 48, 69, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;

  opacity: 0;
  transition: 300ms;

}

.post:hover .post__hover {
  opacity: 1;
  cursor: auto;
}

.post__hover>h3 {
  font-size: 40px;
}

.post__hover>p {
  font-size: 24px;
}

.post__links>h4 {
  font-size: 24px;
  text-align: center;
  transition: 200ms;
}
.post__links>h4:first-child {
  text-decoration: underline;
}
.post__links>h4:nth-child(2) {
  margin-top: 2px;
  font-size: 27px;
}

.post__links>h4:hover > a {
  color: var(--bg-hover);
}
.post__links>h4:first-child:hover {
  transform: scale(1.3);
}
.post__links>h4:nth-child(2):hover {
  transform: scale(1.5);
}


/* CONTACT */
#contact {
  background: var(--dark-purple);
  padding: 20px;
  /* scroll-snap-align: start; */
}

#contact>h2 {
  text-align: center;
}

.contact__inner {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__link {
  padding: 0 30px;
}

.contact__link>img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  transition: 200ms;
}

.contact__link>img:hover {
  transform: scale(1.2);
}

/* media */
@media (min-width: 1300px) {
  body #home{
    grid-template: 100%/ 1fr 1fr;
  }
  .nav .nav__btn {
    font-size: 38px;
  }

  .info .info__intro>h3 {
    font-size: 50px;
  }

  .info .info__intro>p {
    font-size: 30px;
  }
  #skills .skill {
    animation: up-down1300 1s linear infinite alternate;
  }
  #skills .skills__inner{
    min-height: 600px;
  }
  
  @keyframes up-down1300 {
    0% {
      transform: translateY(-5%);
      box-shadow: 0 6px 1px 4px rgb(255, 0, 247);
    }
  
    100% {
      transform: translateY(10%);
      box-shadow: 0 32px 11px 2px rgb(255, 0, 247);
    }
  }
}

@media (max-width: 1170px) {
  .dev .dev__container {
    font-size: 140px;
  }

}

@media (max-width: 970px) {
  body h2 {
    font-size: 60px;
  }

  #home {
    display: block;
  }

  #home .dev {
    justify-content: center;
  }

  #home .info {
    justify-content: center;
  }

  #home .info__inner {
    padding-top: 0;
  }

  #skills .skills__title,
  #project .project__title {
    text-align: center;
    padding-left: 0px;
  }

  #skills .skill:hover,
  #skills .skill:focus {
    box-shadow: 0 0.7em 0.7em -0.3em rgb(255, 0, 247);
    transform: translateY(-0.7em);
  }

  #project .project__title {
    text-align: center;
  }

  #project .project__inner {
    display: block;
  }

  #project h3 {
    font-size: 50px;
  }

  #project h4 {
    font-size: 40px;
  }

  #project p {
    font-size: 30px;

  }

  /* #skills {
    min-height: 100vh;
  } */
}

@media (max-width: 768px) {
  body {
    overflow: auto;
    height: 100%;
  }

  body main {
    height: 100%;
    /* scroll-snap-type: none; */
    overflow-y: auto;
  }

  #project h3 {
    font-size: 40px;
  }

  #project .post__links {
    margin-top: 0px;
  }

  #project h4 {
    font-size: 35px;
  }

  #project p {
    font-size: 25px;

  }
}